<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- <h1>{{ coreCourse.description }}</h1> -->

<div class="demo">
  <div>Start Date: {{ startDate | date : "MMM/dd/yyyy" }}</div>
  <div>{{ price | currency : "EUR" }}</div>
</div>

<div class="courses" #container>
  <!-- <course-card [title]="coreCourse.description"></course-card> -->
  <course-card
    #cardRef1
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[0]"
  ></course-card>
  <course-card
    #cardRef2
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[1]"
  ></course-card>
  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[2]"
  ></course-card>
</div>
