<div class="top-menu">
  <button (click)="onCoursesEdited()">Edit Courses</button>
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- <h1>{{ coreCourse.description }}</h1> -->

<div class="demo">
  <div>Start Date: {{ startDate | date : "MMM/dd/yyyy" }}</div>
  <div>{{ price | currency : "EUR" }}</div>
</div>

<div class="courses" #containe *ngIf="courses[0] as course">
  <!-- <course-card [title]="coreCourse.description"></course-card> -->
  <course-card
    #cardRef1
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
  >
    <course-image [src]="course.iconUrl"></course-image>
    <course-image [src]="courses[1].iconUrl"></course-image>
    <course-image [src]="courses[2].iconUrl"></course-image>
    <!-- <div class="course-image" #courseImage>
    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
    <h5>total Lessons: 5</h5>
  </div> -->

    <div class="course-description">
      {{ course.description }}
    </div>

    Edit Description: <textarea></textarea>
  </course-card>
  <course-card
    #cardRef2
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[1]"
  >
    <h5>total Lessons: 10</h5></course-card
  >
  <!-- <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[2]"
  ></course-card>  -->
</div>
