<div class="top-menu">
  <button (click)="onCoursesEdited()">Edit Courses</button>
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

<!-- <h1>{{ coreCourse.description }}</h1> -->

<div class="demo">
  <div>Start Date: {{ startDate | date : "MMM/dd/yyyy" }}</div>
  <div>{{ price | currency : "EUR" }}</div>
</div>

<div class="courses" *ngIf="courses[0] as course">
  <!-- <course-card [title]="coreCourse.description"></course-card> -->

  <ng-template #blankImage let-courseName="description">
    <p class="warn">{{ courseName }} has no image yet.</p>
    <img src="/assets/empty-image.png" alt="" />
  </ng-template>

  <!-- <ng-container
    *ngTemplateOutlet="blankImage; context: { description: course.description }"
  ></ng-container>
  <ng-container
    *ngTemplateOutlet="
      blankImage;
      context: { description: courses[1].description }
    "
  ></ng-container> -->

  <hr />
  <hr />

  <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="course"
    [noImageTpl]="blankImage"
  >
    <course-image [src]="course.iconUrl"></course-image>
    <!-- <course-image [src]="courses[1].iconUrl"></course-image>
    <course-image [src]="courses[2].iconUrl"></course-image> -->
    <!-- <div class="course-image" #courseImage>
    <img width="300" alt="Angular Logo" [src]="course.iconUrl" />
    <h5>total Lessons: 5</h5>
  </div> -->

    <div class="course-description">
      {{ course.longDescription }}
    </div>

    Edit Description: <textarea></textarea>
  </course-card>

  <course-card
    #cardRef2
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[1]"
  >
    <h5>total Lessons: 10</h5></course-card
  >
  <!-- <course-card
    (courseSelected)="onCourseSelected($event)"
    [course]="courses[2]"
  ></course-card>  -->
</div>
